body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('phmed7.jpg'); /* Remplacez 'background_image.jpg' par le chemin de votre image de fond */
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.consultation-form {
    background-color: rgba(255, 255, 255, 0.8); /* Arrière-plan légèrement transparent pour une meilleure lisibilité */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    color: #333;
}

h2 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #555;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
